
/* CSS Document */
body {
	padding:0;
	margin:0;
	color:#231f20;
	font:normal 14px Arial, Helvetica, sans-serif;
	background:#fafafa url(../img/bg.gif) repeat-x left top;
}
a {
	outline:0;
	border:0;
}
h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}
h1 {
	font-size:20px;
	color:#231f20;
	padding-bottom:10px;
	margin-bottom:5px;
	font-weight:normal;
}
h2 {
	font-size:16px;
	color:#231f20;
	padding-bottom:8px;
	margin-bottom:5px;
}
h3 {
	font-size:18px;
	font-weight:normal;
	color:#231f20;
    padding:5px 0;
}
h4 {
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:16px;
	color:#000;
}
h5 {
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:14px;
	color:#000;
}
h6 {
	font-family:"Georgia", Times New Roman, Times, serif;
	font-size:14px;
	color:#000;
}
p {
	margin:0;
	padding:10px 0 10px 0;
}
form {
	padding:0;
	margin:0;
}
a {
	color:#000;
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
}
.clear {
	clear:both;
	line-height: 0px;
}
.floatl{
float:left;
}
.floatr{
float:right;
}
img{
border:0;
}
label{
	font-size:14px; float:left; width:135px;
	display:block;
	color:#2e2e2e;
	padding:3px 0px;
	margin:3px 0px;
	font-weight:bold;
}
.inputboxs{
	background:#fefefe url(../img/inputbox.gif) repeat-x left bottom;
	padding:5px; float:left;
	width:120px;
	margin:0;
	border:1px solid #d0d0d0;
	margin-bottom:12px;
}
.dropdown{
	background:#fefefe url(../img/inputbox.gif) repeat-x left bottom;
	padding:5px; float:left;
	width:120px;
	margin:0;
	border:1px solid #d0d0d0;
	margin-bottom:12px;
}
.inputbox_long{
	background:#fefefe url(../img/inputbox.gif) repeat-x left bottom;
	padding:5px; float:left;width:305px;
	border:1px solid #d0d0d0; margin-bottom:12px;
}
.textarea{
	background:#fefefe url(../img/inputbox.gif) repeat-x left bottom;
	padding:6px 5px; float:left;height:105px; font-family:Arial, Helvetica, sans-serif;
	margin-bottom:12px; width:305px; font-size:14px;
	border:1px solid #d0d0d0;
}
.submit_button{
	background:url(../img/submit_button.gif) no-repeat left top; float:left; margin:0px 0px 5px 0px;
	border:0; padding:0; display:block; width:78px; height:29px; text-indent:-1000em; cursor:pointer;
}

/*============================== header css ==============================================*/
#wrapper {
	width:900px;
	padding:0;
	margin:0px auto;
}
#wrapper #headerpart {
	width:100%;
	height:140px;
}
.logo{
float:left;
padding:46px 30px 0px 28px;
width:202px;
}
.header_right{
	float:right; width:640px; padding-top:36px; text-align:right; color:#231f20; 
}
.headertitle{
	font-size:24px; padding-bottom:39px;
}
.headerdate{
	font-size:16px;
}
#bodypart{
	padding:0; margin:0;
}
.midbody{
	background:url(../img/bodymid.gif) repeat-y left top;
}
.leftpart{
	float:left; width:256px; margin-left:5px; _margin-left:2px; background:url(../img/leftbg.gif) repeat-x left top; min-height:460px;
}
.rightpart{
	float:right; width:626px; margin-right:5px;
}
.left_title{
	background:url(../img/lefttitlebg.gif) repeat-x left top; color:#fff; font-size:18px; padding:7px 5px 7px 20px;
}
ul.leftlist{
	list-style:none; padding:0; margin:5px 0px 20px 5px;
}
ul.leftlist li{
	padding:2px 0px;
	margin:0;
}
ul.leftlist li .checkbox{
	margin:7px 0px 0px 4px; _margin:2px 0px 0px 0px; *margin:2px 0px 0px 0px;
}
ul.leftlist li.delete{
	padding-top:10px;
}
ul.leftlist li a{
	padding:5px 0px 5px 0px; float:left; text-decoration:none; width:212px; _width:208px; *width:209px; margin:0px 0px 0px 8px;
}
ul.leftlist li a.active{
	color:#0ebcde;
}
ul.leftlist li a:hover{
	text-decoration:none; background:url(../img/listover.gif) no-repeat left top; color:#fff;
}
.delet_button{
	background:url(../img/delet_button.gif) no-repeat left top; float:left; margin:0px 0px 5px 15px; _margin:0px 0px 5px 19px; 
	border:0; padding:0; display:block; width:55px; height:22px; text-indent:-1000em; cursor:pointer;
}
.rightform{
	padding:10px;
}
.redtxt{
	color:#fe0000;
}
.sidetxt{
	font-size:12px; color:#d40000; float:right; margin-left:5px; margin-top:5px;
}
.div1 {width: 30px; float: left;}
.div2 {width: 130px; float: left; text-align: left;padding:0px 0px 5px 0px;}
.div3 {width: 85px; float: left; text-align: left; padding:5px 0px 5px 0px;}
